# Build folders
/build/
/out/
/bin/
/lib/

# CMake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
install_manifest.txt

# VSCode files
.vscode/
*.code-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Compiled object files
*.o
*.obj
*.lo
*.la
*.a
*.lib
*.so
*.so.*
*.dll
*.exe
*.out

# Logs and backups
*.log
*.bak
*.swp
*.swo

# Coverage
*.gcno
*.gcda
*.gcov

# Test output
Testing/
test_detail.xml
*.test
*.profraw